:host ::ng-deep .even-toolbar.p-toolbar  {
  & > [class^=p-toolbar-] {
    flex: 1;
    display: flex;
  }

  & > .p-toolbar-start {
    justify-content: start;
  }

  & > .p-toolbar-center {
    justify-content: center;
  }
  & > .p-toolbar-end {
    justify-content: end;
  }
}

:host .fast-update-progress-bar ::ng-deep .p-progressbar-value {
  transition: width 500ms;
}
